<% include partials/header %>
    <h1 class="font-serif text-4xl text-center p-16">Add New Expense</h1>
    <div class="flex justify-center">
        <form class="p-6 divide-solid border-2 border-grey-400 flex flex-col w-96" action="/users/expense/add" method="POST">
            <label class="w-full my-3" for="fname">Select Category
                <select  class="px-4" name="category" id="">
                    <% categories.forEach(category => { %>
                        <option value="<%= category.name %>"><%= category.name %></option>
                   <% }) %>

                </select>

    
            </label>
            <label class="w-full my-3" for="lname">Name
                <input class="my-2 w-full p-1 divide-solid border-2 border-grey-200 " type="text" placeholder="Name" name="name">
            </label>
            <label class="w-full my-3" for="lname">Amount
                <input class="my-2 w-full p-1 divide-solid border-2 border-grey-200 " type="number" placeholder="Amount" name="amount">
            </label>
            <label class="w-full my-3" for="email">Date
                <input class="my-2 w-full p-1 divide-solid border-2 border-grey-200 " type="date" placeholder="Date" name="date">
            </label>
            <button class=" bg-green-500 hover:bg-green-700 text-white font-bold py-2 p-12 m-4">Add Expense</button>
        </form>
    </div>
  </body>
</html>