<% include partials/header %>
<h1 class="font-serif text-4xl text-center p-16">Welcome to the Onboarding Page, <%= name %></h1>
    <div class="text-center">
        <button class=" bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 p-12 m-4 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 "> <a href="/users/income/add">ADD INCOME</a></button> 
        <button class=" bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 p-12 m-4 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"> <a href="/users/expense/add">ADD EXPENSE</a></button> 
        <button class=" bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 p-12 m-4 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"> <a href="/users/category/add">ADD NEW CATEGORY</a></button> 
        <button class=" bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 p-12 m-4 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"> <a href="/users/dashboard/">VIEW DASHBOARD</a></button> 
    </div>
   
</body>
</html>